@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; /* Removes default margins from common elements */
}

ul,
ol {
  list-style: none; /* Removes default bullet points/numbers */
  padding: 0;
}

i.mi {
  font-family: "Material Icons";
  font-style: normal;
}
:root {
  --color-red: #bf092f;
  --color-red-fade: #bf093083;
  --color-blue-1: #132440;
  --color-blue-2: #16476a;
  --color-blue-3: #3b9797;
  --color-blue-1-fade: #13244083;
  --color-blue-2-fade: #16476a83;
  --color-blue-3-fade: #3b979783;
  --border-1: rgba(128, 128, 128, 0.2);
  --box-shadow-1: 0px 5px 15px 5px var(--border-1);
  --box-shadow-2: 0px 1px 5px 1px var(--color-blue-3-fade);
  --backdrop-1: rgba(180, 180, 180, 0.103);
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  background: whitesmoke;
  text-align: center;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 300px 1fr;
}
.sidebar {
  height: 100vh;
  max-width: 300px;
  background-color: var(--color-blue-1);
  color: white;
}
.navbar {
  background: var(--color-blue-1);
  backdrop-filter: blur(10px);
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.4rem;
  padding: 0.5em 1em;
  font-weight: bold;
  width: 100%;
  color: var(--color-blue-3);
  text-decoration: none;
  box-shadow: var(--box-shadow-2);
}

.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav-links li {
  width: 100%;
  display: flex;
}
.nav-links a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  color: #fff;
  text-decoration: none;
  padding-bottom: 0.25rem;
  transition: color 0.2s ease, border-color 0.2s ease;
}

.nav-links a:hover {
  color: var(--color-blue-3);
}

.nav-links a.active {
  color: var(--color-blue-3);
  border-bottom: 2px solid var(--color-blue-3);
}

.content {
  grid-column: 2;
  display: flex;
}

.content > .total-counts {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-around;
  width: 100%;
  padding: 3em;
  gap: 1em;
  background-color: var(--backdrop-1);
}

.total-counts > .items {
  flex: 1;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  gap: 0.5em;
  border: 1px solid var(--border-1);
  background-color: white;
  box-shadow: var(--box-shadow-1);
  cursor: pointer;
  transition: 0.3s scale ease-in-out;
  position: relative;
  &::before {
    content: "";
    background-color: var(--backdrop-1);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5%;
    border-radius: 0.5em 0 0 0.5em;
  }
  .title {
    flex: 1;
    font-size: 1.5rem;
    text-wrap: nowrap;
    font-weight: bold;
  }
  .count {
    aspect-ratio: 1/1;
    padding: 1em;
    border-radius: 2em;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
  }
  &:hover {
    scale: 1.02;
  }
  &:first-child .count {
    color: var(--color-red);
    background-color: var(--color-red-fade);
  }
  &:nth-child(2) .count {
    color: var(--color-blue-2);
    background-color: var(--color-blue-2-fade);
  }
  &:last-child .count {
    color: var(--color-blue-3);
    background-color: var(--color-blue-3-fade);
  }
}
