<dialog class="confirm-dialog">
    <h2 class="dialog message">
        <span class="dialog text"> </span>
        <span class="dialog item"></span> ?
    </h2>
    <div class="dialog-btn-containers">
        <button class="dialog cancel">Cancel</button>
        <button class="dialog action">Continue</button>
    </div>
</dialog>