<dialog class="delete-dialog">
    <h2> Are you sure you want to delete? </h2>
    <div class="dialog-btn-containers">
        <button class="dialog cancel">Cancel</button>
        <button class="dialog delete">Delete</button>
    </div>
</dialog>