<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="logo"><i class="mi">inventory</i> Inventory</a>
    <div class="menu-close"><i class="mi">close</i></div>
    <ul class="nav-links">
      <li class="link-items"><a href="/" class="<%= page === 'home' ? 'active' : '' %>"><i class="mi">dashboard</i> Dashboard</a></li>
      <li class="link-items"><a href="/games" class="<%= page === 'games' ? 'active' : '' %>"><i class="mi">sports_esports</i>Games</a></li>
      <li class="link-items"><a href="/genres" class="<%= page === 'genres' ? 'active' : '' %>"><i class="mi">category</i>Genres</a></li>
      <li class="link-items"><a href="/developers" class="<%= page === 'developers' ? 'active' : '' %>"><i class="mi">code</i>Developers</a></li>
    </ul>
  </div>
</nav>
<div class="burger-menu"><i class="mi">menu</i></div>

<script>
  const sidebar = document.body.querySelector(".sidebar");
  const burger = document.querySelector(".burger-menu");
  const close = document.querySelector(".menu-close");

  close.addEventListener("click", (e)=> {
    sidebar.classList.add("hide");
  })
  burger.addEventListener("click", (e)=> {
    sidebar.classList.remove("hide");
  })

  // prevent active one from page refresh
  const active = document.querySelector(".nav-links > .link-items > a.active");
  active.addEventListener("click", (e)=> e.preventDefault());
</script>