<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="logo">Inventory</a>

    <ul class="nav-links">
      <li class="link-items"><a href="/dashboard" class="<%= page === 'home' ? 'active' : '' %>"><i class="mi">home</i> Home</a></li>
      <li class="link-items"><a href="/games" class="<%= page === 'games' ? 'active' : '' %>"><i class="mi">sports_esports</i>Games</a></li>
      <li class="link-items"><a href="/dashboard/genres" class="<%= page === 'genres' ? 'active' : '' %>"><i class="mi">category</i>Genres</a></li>
      <li class="link-items"><a href="/dashboard/developers" class="<%= page === 'developers' ? 'active' : '' %>"><i class="mi">code</i>Developers</a></li>
    </ul>
  </div>
</nav>